
body {
    background-color:  #eee;
    background-color:  #ccc;
}

header{margin-top: 20px !important;}


.logo {
    width: 200px;  
    margin-left:100px;
}


.top_menu {
   float: right;
}

.top_menu li{
    
    margin-left: 10px;
    display: inline;
    float: left;
    
}

.top_menu li a{
    display:block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-decoration: none;
    font-size: 16px;
    width: 100px;
    box-shadow: 0px 0px 5px black;
    font-weight: bold;  
    background-color:#8F8F8F;
    color: #8b0000; 
    border: 2px solid #8b0000; 
}

.top_menu li a:hover{
    background-color: #8b0000;
    color: white ; 
    
}

.login-panel{
    min-width: 200px;
     background-color: #d81c32;
    color: white;
    border: 1px solid black;
    height: 100%;
    
}

.menu-container {
   background-color: #8b0000;  
   
   margin-top: 20px;
   padding: 0px !important;
   box-shadow: 0px 0px 5px #2a2a2a;
   overflow:visible !important;
   min-height: 70px;
   
}

.menu-container .col{
    margin-left: 0px;
}


#nav{
    list-style:none;
    font-weight:bold;
    margin-bottom:0px;
    margin-left: 0px;
    margin-top:0px;
    float:left;
    
    z-index: 100;
   /* Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    */
}
#nav li{
    float:left;
    margin-right:0px;
    position:relative;
    margin-top: 0px;
    border-right: 1px solid white;
}
#nav a{
    display:block;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: none;
    font-size: 16px;
    width: 150px;
  background-color: #8b0000; 
    color: white;
}
#nav a:hover{
    color:#fff;
    background:#901826;
       
    text-decoration:none;
}


#nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
    padding-top:1px;/* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
    z-index: 1000;
    
}
#nav ul a{
    white-space:nowrap;/* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:-18px; /* Bring back on-screen when needed */
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background: #901826;
    text-decoration:none;
    
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#333;
}

#search-div {
    float: left;
}

#search-div {
    float: right;
    padding: 20px;
}

#search-div input[type="text"]{
    border-radius: 0px;
}

.inhoud {
  
   
   
   margin-top: 20px;
   
  
   min-height: 500px;
   width: 960px;
}

.inhoud .row {
    
}

.inhoud .col{
   background-color: #a0a0a0 ; 
   
   background-color: #a0a0a0 ; 
   
   box-shadow: 0px 0px 5px #2a2a2a;
   padding: 0px;
   margin: 0px;
   margin-left: 10px;
   min-height: 200px;
   padding: 0px;
}

.col-inhoud{
    margin: 10px;
}
 

footer {
    margin-top: 20px !important;
    background-color: #eb0000;
    box-shadow: 0px 0px 5px #2a2a2a inset;
    padding: 15px;
    width: 930px !important;
}

footer div{
    margin: auto ;
    text-align: center;
    color: white;
    font-size: 14px;
}



